<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073213289680-sblvubm3resntvf62t7bov10jtcqoefv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073213289680-sblvubm3resntvf62t7bov10jtcqoefv</string>
	<key>API_KEY</key>
	<string>AIzaSyAxpTdK-Tn3W41JyTit5i1RWJ0FObrwoqU</string>
	<key>GCM_SENDER_ID</key>
	<string>1073213289680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.akjol</string>
	<key>PROJECT_ID</key>
	<string>akjol-547a0</string>
	<key>STORAGE_BUCKET</key>
	<string>akjol-547a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073213289680:ios:0b8a451d89cff90f419ad5</string>
</dict>
</plist>